// Sizes
$leftPanelWidth: 375px;
$spacing: 2px;

// Colors
$backColor: #cccccc;
$backColorDark: black;
$textColor: black;
$textColorDark: white;

// Cards
$cardBackColor: white;
$cardBackColorDark: #0A0A0A;
$cardBorder: 2px solid black;
$cardBorderDark: 3px solid black;

$oldBackColor: #2D2D2D;

// Fonts
$font-size: 14pt;
$small-font-size: 10pt;
$large-font-size: 16pt;