$logo-width: 150px;
$tile-width: 260px;
$font-size: 14pt;
$small-font-size: 10pt;
$large-font-size: 16pt;

.calendar {
    display: flex;
    flex-wrap: wrap;
    
    font-size: $font-size;

    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    
    .underline {
        border-bottom: 1px solid #4D4D4D;
    }

    .lighten {
        font-size: $small-font-size;
    }

    .rightAlign {
        text-align: right;
        padding-right: 15px;
    }

    .eventTile {
        flex: 1 1 auto;
        min-height: 200px;
        min-width: $tile-width;
        background-color: #2D2D2D;
        padding-left: 5px;
        
        .eventName {
            text-align: center;
        }
        
        .eventLogo {
            height: $logo-width;
        }

        .live {
            //border-bottom: 3px solid #00923F;
            background-image: linear-gradient(to right, rgba(0,146,43, .5), transparent);
        }

        table {
            width: 100%;
            border-collapse: collapse;

            .tournament-name {
                //background-color: #01061A;
                font-size: 20pt;
                border-bottom: 1px solid #4D4D4D;
            }
        }

        .match-date {
            border-top: 1px solid #4D4D4D;
            font-size: 14pt;
            text-align: center;
        }

        .matchTile {
            display: flex;
            align-items: center;

            .comp-name {
                flex: 1 1 43%;
                padding: 0 5px 0 5px;
            }

            .comp-1 {
                text-align: right;
            }

            .comp-image { 
                width: 35px;
            }

            .match-time {
                flex: 0 0 115px;
                text-align: center;
            }
        }
    }

    .wcs {
        border-left: 8px solid #0677BD;
        background-image: url("../Images/wcs.png");
        background-position: center;
        background-repeat: no-repeat; /* Do not repeat the image */
        margin-right: 15px;
        margin-bottom: 15px;

        .tournament-name {
            color: #0677BD;
        }
    }

    .gsl {
        border-left: 8px solid #F0CF5B;
        background-image: url("../Images/gsl.png");
        background-position: center;
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: 200px;
        margin-bottom: 15px;

        .tournament-name {
            color: #F0CF5B;
        }
    }

    .ow {
        border-left: 8px solid #FF8820;
        background-image: url("../Images/ow.png");
        background-size: 400px;
        background-position-x: center;
        background-position-y: 100px;
        background-repeat: no-repeat;

        .match-date {
            color: #FF8820;
        }
    }

    .gdq {
        border-left: 8px solid #476D9B;
        margin-bottom: 15px;
        background-image: url("../Images/gdq.png");
        background-size: 300px;
        background-position-x: center;
        background-position-y: 100px;
        background-repeat: no-repeat;

        .run-date {
            color: #476D9B;
        }

        .game-image {
            height: 45px;
        }
    }
}