@import "variables";

$logo-width: 150px;
$tile-width: 260px;
$font-size: 14pt;
$small-font-size: 10pt;
$large-font-size: 16pt;

.underline {
	border-bottom: 1px solid #4D4D4D;
}

.calendar {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	font-size: $font-size;

	.underline {
		border-bottom: 1px solid #4D4D4D;
	}

	.lighten {
		font-size: $small-font-size;
	}

	.rightAlign {
		text-align: right;
		padding-right: 10px;
	}

	.eventTile {
		flex: 1 1 auto;
		min-height: 200px;
		min-width: $tile-width;
		background-color: #2D2D2D;
		padding-left: 5px;

		.eventName {
			text-align: center;
		}

		.eventLogo {
			height: $logo-width;
		}

		.live {
			//border-bottom: 3px solid #00923F;
			background-image: linear-gradient(to right, rgba(0, 146, 43, .5), transparent);
		}

		table {
			width: 100%;
			border-collapse: collapse;

			.tournament-name {
				//background-color: #01061A;
				font-size: 20pt;
				border-bottom: 1px solid #4D4D4D;
			}
		}

		.match-date {
			border-top: 1px solid #4D4D4D;
			font-size: 14pt;
			text-align: center;
		}

		.matchTile {
			display: flex;
			align-items: center;

			.comp-name {
				flex: 1 1 43%;
				padding: 0 5px 0 5px;
			}

			.comp-1 {
				text-align: right;
			}

			.comp-image {
				width: 35px;
			}

			.match-time {
				flex: 0 0 115px;
				text-align: center;
			}
		}
	}

	.wcs {
		border-left: 8px solid #0677BD;
		background-image: url("../Images/wcs.png");
		background-position: center;
		background-repeat: no-repeat;
		/* Do not repeat the image */
		margin-left: 15px;
		margin-bottom: 15px;
		width: 100%;

		.tournament-name {
			color: #0677BD;
		}
	}

	.gsl {
		border-left: 8px solid #F0CF5B;
		background-image: url("../Images/gsl.png");
		background-position: center;
		background-repeat: no-repeat;
		/* Do not repeat the image */
		background-size: 200px;
		margin-left: 15px;
		margin-bottom: 15px;

		.tournament-name {
			color: #F0CF5B;
		}
	}
}

$panel-height: 195px;
$panel-min-width: 250px;
$spaceBetween: 10px;

.dateHeader {
	font-family: overwatch;
	width: 100%;
	background-color: $cardBackColor;
	color: $textColor;
	border-collapse: collapse;
	font-size: 18pt;

	td {
		text-align: center;
	}
}

.dark .dateHeader {
	background-color: $cardBackColorDark;
	color: $textColorDark;
}

.blackText {
	color: black !important;
}

.columns {
	display: flex;
	justify-content: space-between;
	flex: 1 1 auto;
	overflow: hidden;
	margin: 0 $spacing;

	>div+div {
		margin-left: $spacing;
	}

	.col {
		display: flex;
		flex-direction: column;
		width: 375px;
		height: 100%;
		flex: 0 0 auto;

		.group {
			border: $cardBorder;
		}

		.group+.group {
			margin-top: $spaceBetween;
		}
	}
}

.dark .col .group {
	border: $cardBorderDark;
}

.light .ow {
	color: $textColor;

	.status {
		background-color: $cardBackColor;
		color: $textColor;
	}
}

.dark .ow {
	color: $textColorDark;

	.status {
		background-color: $cardBackColorDark;
		color: $textColorDark;
	}
}

.ow {
	width: 450px !important;

	.group-card {
		//border-radius: 15px;
		padding: 4px 8px;
	}

	>.group-card+.group-card {
		margin-top: $spacing;
	}

	.group-card-header {
		display: flex;
		align-items: center;
		gap: 10px;
		padding-bottom: 5px;
		width: 100%;
	}

	.game-icon {
		height: 40px;
	}

	.group-card-header+.tile {
		border-top: 1px solid white;
	}

	.date-header {
		font-size: 16px;
		font-weight: 600;
		flex-shrink: 0;
	}

	.day-header {
		font-size: 16px;
		font-weight: 600;
		flex-shrink: 0;
		text-align: center;
	}

	.tournament {
		flex: 1 1 auto;
		min-width: 0;
	}

	.tournament-name {
		font-size: 17pt;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.tier1 {
		background-color: #3F370E;
		border-bottom-color: #CCAB00;
	}

	.tier2 {
		background-color: #22292A;
		border-bottom-color: #557177;
	}

	.tier3 {
		background-color: #2D2920;
		border-bottom-color: #80704C;
	}

	.tier4 {
		background-color: #2D2920;
		border-bottom-color: #80704C;
	}

	.tier5 {
		background-color: #3F2B0E;
		border-bottom-color: #CC7800;
	}

	.tier-badge {
		margin-top: -15px;

		color: #ffffff;
		height: 1.375rem;
		min-width: 3.75rem;
		padding: 0.0625rem;
		font-size: .8rem;
		border: 0.0625rem solid;
		border-radius: 0.25rem;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		flex: 0 0 auto;
	}

	.largeTile {
		position: relative;
		height: $panel-height;

		.comp {
			height: 100%;
			width: 50%;
			font-family: Overwatch;

			display: flex;
			flex-direction: column;
			align-items: center;
			float: left;

			.image {
				width: 110px;
			}

			.comp-name-1 {
				font-size: 15pt;
				letter-spacing: 3px;
			}

			.comp-name-2 {
				font-size: 28pt;
				font-weight: 800;
				letter-spacing: 3px;
			}
		}
	}

	.status {
		font-family: Overwatch;
		position: absolute;

		text-align: center;
		height: 22px;
		line-height: 23px;
		font-size: 18pt;
		z-index: 10;

		border-top-left-radius: 5px;
		border-top-right-radius: 5px;

		bottom: 0;
		width: 70px;
		left: 50%;
		margin-left: -35px;
	}


	.tile.active {
		border: 2px solid #FF004D;
		animation: glow 2.0s linear infinite alternate;
		box-shadow: #FF004D 0px 3px 8px;
		border-radius: 8px;
	}

	.tile {
		display: flex;
		position: relative;

		.comp {
			width: 50%;
			display: flex;
			flex-direction: row;
			padding: 6px;
			position: relative;
			gap: 5px;
		}

		.comp-1 {
			margin-right: 35px;

			.comp-name {
				text-align: right;
			}
		}

		.status {
			bottom: 8px;
			border-radius: 3px;
		}

		.comp-2 {
			margin-left: 35px;
			font-size: 10pt;
		}

		.comp-name {
			font-size: 16pt;
			flex-grow: 1;

			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		.image {
			width: 25px;
			height: 25px;
		}
	}
}

$iconWidth: 25px;

.dark {
	.sc2 {
		color: $textColorDark;

		.group {
			background-color: $cardBackColorDark;
		}

		.playerTable {
			background-color: $cardBackColorDark;

			tr:not(:last-child) {
				border-bottom: 3px solid $cardBackColorDark;
			}

			td+td {
				border-left: 3px solid $cardBackColorDark;
			}
		}
	}
}

.sc2 {
	color: $textColor;
	font-size: 20pt;
	font-family: overwatch;

	.group {
		background-color: $cardBackColor;
	}

	.groupName {
		text-align: center;
	}

	.date {
		text-align: center;
		font-family: "Industry";
		font-size: 15pt;
		letter-spacing: -1px;
	}

	.playerTable {
		width: 100%;
		background-color: $cardBackColor;
		border-collapse: collapse;

		tr:not(:last-child) {
			border-bottom: 3px solid $cardBackColor;
		}

		td+td {
			border-left: 3px solid $cardBackColor;
		}

		td {
			width: 50%;
			position: relative;
			color: white;
			padding: 4px;
			font-family: "Industry";
			font-size: 16pt;
			background-color: #bbbbbb;
		}

		.playerLeft {
			text-align: right;
			padding-right: $iconWidth + 10;

			.icon {
				right: 5px;
			}
		}

		.playerRight {
			text-align: left;
			padding-left: $iconWidth + 10;

			.icon {
				left: 5px;
			}
		}

		.icon {
			display: inline-block;
			position: absolute;

			width: $iconWidth;
			height: $iconWidth;
			background-position: center;
			background-size: cover;
		}

		.zerg {
			background-color: purple;

			.icon {
				background-image: url("../Images/zerg.png");
			}
		}

		.protoss {
			background-color: #DC9D2C;

			.icon {
				background-image: url("../Images/protoss.png");
			}
		}

		.terran {
			background-color: #2C517B;

			.icon {
				background-image: url("../Images/terran.png");
			}
		}
	}
}

$glowColor: yellow;

@keyframes glow {
	to {
		border-color: $glowColor;
		-webkit-box-shadow: 0 0 5px $glowColor;
		-moz-box-shadow: 0 0 5px $glowColor;
		box-shadow: 0 0 5px $glowColor;
	}
}