@font-face {
  src: url("../Fonts/koverwatch.ttf");
  font-family: overwatch; }
.calendar {
  display: flex;
  flex-wrap: wrap;
  font-size: 14pt;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%; }
  .calendar .underline {
    border-bottom: 1px solid #4D4D4D; }
  .calendar .lighten {
    font-size: 10pt; }
  .calendar .rightAlign {
    text-align: right;
    padding-right: 15px; }
  .calendar .eventTile {
    flex: 1 1 auto;
    min-height: 200px;
    min-width: 260px;
    background-color: #2D2D2D;
    padding-left: 5px; }
    .calendar .eventTile .eventName {
      text-align: center; }
    .calendar .eventTile .eventLogo {
      height: 150px; }
    .calendar .eventTile .live {
      background-image: linear-gradient(to right, rgba(0, 146, 43, 0.5), transparent); }
    .calendar .eventTile table {
      width: 100%;
      border-collapse: collapse; }
      .calendar .eventTile table .tournament-name {
        font-size: 20pt;
        border-bottom: 1px solid #4D4D4D; }
    .calendar .eventTile .match-date {
      border-top: 1px solid #4D4D4D;
      font-size: 14pt;
      text-align: center; }
    .calendar .eventTile .matchTile {
      display: flex;
      align-items: center; }
      .calendar .eventTile .matchTile .comp-name {
        flex: 1 1 43%;
        padding: 0 5px 0 5px; }
      .calendar .eventTile .matchTile .comp-1 {
        text-align: right; }
      .calendar .eventTile .matchTile .comp-image {
        width: 35px; }
      .calendar .eventTile .matchTile .match-time {
        flex: 0 0 115px;
        text-align: center; }
  .calendar .wcs {
    border-left: 8px solid #0677BD;
    background-image: url("../Images/wcs.png");
    background-position: center;
    background-repeat: no-repeat;
    /* Do not repeat the image */
    margin-left: 15px;
    margin-bottom: 15px;
    width: 100%; }
    .calendar .wcs .tournament-name {
      color: #0677BD; }
  .calendar .gsl {
    border-left: 8px solid #F0CF5B;
    background-image: url("../Images/gsl.png");
    background-position: center;
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: 200px;
    margin-left: 15px;
    margin-bottom: 15px; }
    .calendar .gsl .tournament-name {
      color: #F0CF5B; }
  .calendar .gdq {
    border-left: 8px solid #476D9B;
    margin-bottom: 15px;
    background-image: url("../Images/gdq.png");
    background-size: 300px;
    background-position-x: center;
    background-position-y: 100px;
    background-repeat: no-repeat; }
    .calendar .gdq .run-date {
      color: #476D9B; }
    .calendar .gdq .game-image {
      height: 45px; }

.dateHeader {
  width: 100%;
  background-color: #eeeeee;
  color: black;
  border-collapse: collapse;
  font-size: 18pt; }
  .dateHeader td {
    text-align: center; }

.ow {
  font-family: overwatch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%; }
  .ow .group {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .ow .largeTile {
    position: relative;
    border-bottom: 6px solid #eeeeee;
    width: 320px;
    height: 195px; }
    .ow .largeTile .comp {
      width: 160px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      float: left; }
      .ow .largeTile .comp .image {
        width: 110px; }
      .ow .largeTile .comp .comp-name-1 {
        font-size: 15pt;
        letter-spacing: 3px; }
      .ow .largeTile .comp .comp-name-2 {
        font-size: 28pt;
        font-weight: 800;
        letter-spacing: 3px; }
  .ow .status {
    position: absolute;
    background-color: #eeeeee;
    color: black;
    text-align: center;
    height: 22px;
    line-height: 25px;
    font-size: 18pt;
    z-index: 10;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    bottom: 0;
    width: 80px;
    left: 50%;
    margin-left: -40px; }
  .ow .tile {
    display: flex;
    width: 320px;
    position: relative;
    border-bottom: 2px solid #eeeeee; }
    .ow .tile .comp {
      width: 50%;
      display: flex;
      flex-direction: column;
      padding: 6px;
      position: relative; }
    .ow .tile .comp-2 {
      text-align: right; }
    .ow .tile .comp-name-1 {
      font-size: 12pt; }
    .ow .tile .comp-name-2 {
      font-size: 22pt; }
    .ow .tile .image {
      position: absolute;
      width: 35px;
      height: 35px; }
    .ow .tile .comp-1 .image {
      right: 10px;
      top: 0; }
    .ow .tile .comp-2 .image {
      left: 10px;
      top: 0; }

/*# sourceMappingURL=Calendar.css.map */
