@import "variables";

.light .gdq {
	table {
		background-color: $cardBackColor;
		border: $cardBorder;
	}
}

.dark .gdq {
	table {
		background-color: $cardBackColorDark;
		border: $cardBorderDark;
	}
}

.gdq {
	margin-bottom: 15px;
	font-family: Lexend;

	.row {
		margin-bottom: $spacing;
		background-color: $cardBackColorDark;
		border-radius: 15px;
		overflow: hidden;
		flex-shrink: 0;
		display: flex;
		gap: 5px;

		div {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	.game-image {
		height: 70px;
		display: block;
	}

	.short .game-image {
		height: 50px;
	}

	.mainCol {
		flex: 1 1 auto;
	}

	.imageCol,
	.timeCol {
		flex-shrink: 0;
	}

	.timeCol {
		width: 90px;
	}

	.lighten {
		font-size: 11pt;
	}

	.runGame {
		font-weight: 700;
	}

	.live {
		border: 2px solid #FF004D;
		animation: glow 1.0s linear infinite alternate;
		box-shadow: #FF004D 0px 3px 8px;
	}
}