@import "variables";

$groupNameFontSize: 20pt;
$tileFontSize: 17pt;
$detailsFontSize: 9pt;
$imageHeight: 82px;
$imageHeightSmall: 45px;

$altFontSize1: 14pt;
$altFontSize2: 10pt;
$altFontSize3: 12pt;

.horizontal-lists {
    flex-grow: 1;
}

.horizontal-list {
    overflow: hidden;
    font-family: Cabin;

    height: $imageHeight;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;

    padding: 0;
    margin-bottom: 10px;

    .list-group-name {
        font-family: overwatch;
        text-align: center;
        font-size: $groupNameFontSize;
        margin-left: 10px;
    }

    .tile + .tile {
        //border-left: none;
    }

    .tile {
        flex-grow: 1;
        flex-shrink: 0;

        box-sizing: content-box;
        text-overflow: ellipsis;
        //white-space: nowrap;
        overflow: hidden;
        position: relative;
        padding-right: 8px;

        div:empty {
            display: none; 
        }

        > div {
            //white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .tile-image {
            height: $imageHeight;
            margin-right: 5px;
            float: left;
        }

        .tile-title { 
            font-size: $tileFontSize;
        }

        .tile-game {
            font-size: 12pt;
            color: rgb(200, 200, 200);
        }
    
        .tile-details {
            font-size: $detailsFontSize;
            color: rgb(200, 200, 200);
        }

        .tile-viewers {
            color: #C9283E;
            background-color: rgba(0, 0, 0, .8);
            font-size: 10pt;
            position: absolute;
            top: 2px;
            left: 2px;
            border-radius: 5px;

            display: flex;
            align-items: center
        }

        .alt-line1 {
            font-size: $altFontSize1;
        }

        .alt-line2 {
            font-size: $altFontSize2;
        }
    }
}

.horizontal-list.narrow {
    height: $imageHeightSmall;

    .tile-image {
        height: $imageHeightSmall;
    }

    .tile +.tile {
        margin-left: 8px;
    }
}

.live-indicator {
    background-color: #C9283E;
    border-radius: 20px;
    width: 0.45rem;
    height: 0.45rem;
    display: inline-block;
    position: relative;
    margin: 2px;
}