body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(28,31,42);
    color: rgb(240,253,255);
    overflow: hidden;
}

@font-face {
    src: url('../Fonts/bignoodletoo.ttf');
    font-family: overwatch-slant;
}

@font-face {
    src: url('../Fonts/koverwatch.ttf');
    font-family: overwatch;
}

.list-container {
    background-color: rgb(34,46,83);
    overflow: hidden;

    .list-title {
        height: 30px;
        margin: 0;
        font-size: 18pt;
        text-align: center;
    }

    .tile-container {
        //height: 83.9px;

        .tile {
            height: calc(100% - 10px);
            padding-top: 10px;
            padding-right: 5px;
            padding-left: 5px;
        
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: auto;

            cursor: pointer;
            border-bottom: 1px solid rgba(255,255,255,.2);
        
            position: relative;

            &.tile-blue {
                color: rgb(87,203,222);
            }

            &.tile-green {
                color: rgb(144,186,60);
            }

            &.tile:hover{
                background-color: rgb(150,150,150);
            }

            .tile-image { 
                height: 70px;
                padding-right: 5px;
                float: left;
                clear: both;
            }

            .tile-title-line { 
                font-size: 15pt;
            }

            .tile-line {
                font-size: 11pt;
            }

            .tile-line-2 {
                font-size: 9pt;
            }

            .tile-details {
                position: absolute;
                top: 15px;
                right: 0;
            }
        }
    }
}

.list-group {
    margin-bottom: 30px;

    .list-group-container {
        width: 100%;
        display: inline-block;
        border-bottom: 1px solid rgba(255,255,255,.2);

        .group-image {
            height: 36px;
            margin-right:  10px;
            float: left;
        }

        .list-group-name {
            display: block;
            font-weight: bold;
            font-size: 18pt;
            margin-left: 10px;
        }
    }

    .tile-container {
        padding-right: 10px;
        
        .tile {
            padding: 0;
            height: 100%;
            
            box-sizing: border-box;
            border-bottom: 1px solid rgba(255,255,255,.2);
            border-left: 10px solid transparent;

            &.tile-highlight {
                border-left: 10px solid rgb(144,186,60) !important;
            }

            .tile-title-line { 
                margin-top: 0px;
                font-size: 18pt;
            }

            .tile-image { 
                height: 60px;
            }

            .tile-details {
                top: 5px;
                right: 5px;
            }
        }
    }
}

.vs-list-tile-date-line {
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(255,255,255,.2);
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
}

.vs-list-tile-date-line:not(:first-child) {
    margin-top: 30px;
}

.list-container {

    .vs-list-tile-container {
        font-family: 'Cabin', sans-serif;
        background-color: #D6D6D6;
        font-weight: 700;
        color: #333333;

        height: 40px;
        overflow: hidden;

        span {
            float: left;
        }

        .tile {
            border: 1px solid gray;
            padding: 0;
            height: 100%;

            &.tile-green {
                background-color: rgb(144,186,60);
            }

            .vs-comp-1, .vs-comp-2 {
                width: 43%;
                box-sizing: border-box;

                .tile-tile-line {
                    font-size: 1.25rem;
                    line-height: 2;
                    padding: 0 5px 0 5px;
                }

                .vs-tile-image { 
                    float: left;
                    width: 40px;
                }
            }

            .vs-comp-1 {
                span, .vs-tile-image {
                    text-align: right;
                    float: right;
                }
            }

            .vs-tile-time {
                background-color: #eeeeee;
                text-align: center;
                width: 14%;
                font-size: 1.25rem;
                line-height: 1.5;
                padding-top: 4px;
                height: 100%;
            }
        }
    }
}

.no-disp {
    display: none;
}