body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background-color: rgb(28,31,42);
    color: rgb(240,253,255);
    overflow: hidden;
}

@font-face {
    src: url('../Fonts/bignoodletoo.ttf');
    font-family: overwatch-slant;
}

@font-face {
    src: url('../Fonts/koverwatch.ttf');
    font-family: overwatch;
}

.list-container {
    background-color: rgb(34,46,83);

    .list-title {
        height: 30px;
        margin: 0;
        font-size: 18pt;
        text-align: center;
    }

    .tile-container {
        height: 83.9px;

        .tile {
            height: calc(100% - 10px);
            padding-top: 10px;
            padding-right: 5px;
            padding-left: 5px;
        
            cursor: pointer;
            border-bottom: 1px solid rgba(255,255,255,.2);
        
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        
            position: relative;

            &.tile-blue {
                color: rgb(87,203,222);
            }

            &.tile-green {
                color: rgb(144,186,60);
            }

            &.tile:hover{
                background-color: rgb(150,150,150);
            }
        
            .tile-image { 
                width: 70px;
                padding-right: 5px;
                float: left;
                clear: both;
            }

            .tile-title-line { 
                font-size: 15pt;
            }

            .tile-line {
                font-size: 11pt;
            }

            .tile-line-2 {
                font-size: 9pt;
            }

            .tile-details {
                color: white;
                position: absolute;
                top: 15px;
                right: 0;
            }
        }
    }
}

.vs-list-group {

    .vs-list-group-name {
        text-align: center;
        border-bottom: 1px solid rgba(255,255,255,.2);
        width: 100%;
        display: inline-block;
        padding-top: 30px;
    }

    .tile-container {
        height: 50px;

        .tile {
            border-bottom: none;
            padding-top: 0;
            height: 100%;

            .tile-title-line { 
                margin-top: -3px;
                font-size: 20pt;
            }

            .tile-image { 
                width: 50px;
            }

            .tile-details {
                top: 5px;
            }
        }
    }
}

.vs-list-tile-date-line {
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(255,255,255,.2);
}

.vs-list-tile-date-line:not(:first-child) {
    padding-top: 30px;
}

.vs-list-tile-container {
    height: 40px;
    overflow: hidden;

    span {
        float: left;
    }

    .tile {
        border: none;
        padding: 0;
        height: 100%;

        .vs-comp-1, .vs-comp-2 {
            width: 43%;
            font-size: 18pt;

            .vs-tile-image { 
                float: left;
                width: 40px;
                padding: 0 5px 0 5px;
             }
        }

        .vs-comp-1 {
            span, .vs-tile-image {
                text-align: right;
                float: right;
            }
        }

        .vs-tile-time {
            text-align: center;
            width: 14%;
            font-size: 14pt;
            padding-top: 4px;
        }
    }
}










