.list-container {
  overflow: hidden; }
  .list-container .list-title {
    height: 30px;
    width: 100%;
    margin: 0;
    font-size: 18pt;
    text-align: center; }
  .list-container .tile-container .tile {
    height: calc(100% - 10px);
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: auto;
    cursor: pointer;
    position: relative; }
    .list-container .tile-container .tile .tile-image {
      height: 70px;
      padding-right: 5px;
      float: left;
      clear: both; }
    .list-container .tile-container .tile .tile-title-line {
      font-size: 15pt; }
    .list-container .tile-container .tile .tile-line {
      font-size: 11pt; }
    .list-container .tile-container .tile .tile-line-2 {
      font-size: 10pt; }
    .list-container .tile-container .tile .tile-details {
      position: absolute;
      top: 15px;
      right: 0; }

.list-group .list-group-container {
  width: 100%;
  display: inline-block; }
  .list-group .list-group-container .group-image {
    height: 36px;
    margin-right: 10px;
    float: left;
    display: none; }
  .list-group .list-group-container .list-group-name {
    display: block;
    font-size: 20pt;
    margin-left: 10px; }
.list-group .tile-container {
  padding-left: 10px; }
  .list-group .tile-container .tile {
    padding: 0;
    height: 100%;
    box-sizing: border-box; }
    .list-group .tile-container .tile .tile-title-line {
      margin-top: 0px;
      font-size: 20pt; }
    .list-group .tile-container .tile .tile-line-1 {
      font-size: 10pt; }
    .list-group .tile-container .tile .tile-image {
      height: 60px; }
    .list-group .tile-container .tile .tile-details {
      top: 5px;
      right: 10px;
      font-size: 13pt; }

.vs-list-tile-date-line {
  text-align: center;
  padding-bottom: 5px; }

.list-container .list-title {
  height: auto; }
.list-container .vs-list-tile-date-line {
  border-top: 1px solid #4D4D4D;
  font-size: 14pt; }
.list-container .vs-list-tile-container {
  height: 40px;
  overflow: hidden; }
  .list-container .vs-list-tile-container span {
    float: left; }
  .list-container .vs-list-tile-container .tile {
    padding: 0;
    height: 100%; }
    .list-container .vs-list-tile-container .tile .vs-comp-1, .list-container .vs-list-tile-container .tile .vs-comp-2 {
      width: 43%;
      box-sizing: border-box; }
      .list-container .vs-list-tile-container .tile .vs-comp-1 .tile-tile-line, .list-container .vs-list-tile-container .tile .vs-comp-2 .tile-tile-line {
        font-size: 1.25rem;
        line-height: 2;
        padding: 0 5px 0 5px; }
      .list-container .vs-list-tile-container .tile .vs-comp-1 .vs-tile-image, .list-container .vs-list-tile-container .tile .vs-comp-2 .vs-tile-image {
        float: left;
        width: 40px; }
    .list-container .vs-list-tile-container .tile .vs-comp-1 span, .list-container .vs-list-tile-container .tile .vs-comp-1 .vs-tile-image {
      text-align: right;
      float: right; }
    .list-container .vs-list-tile-container .tile .vs-tile-time {
      text-align: center;
      width: 14%;
      font-size: 1.25rem;
      line-height: 1.5;
      padding-top: 4px;
      height: 100%; }

.no-disp {
  display: none; }

/*# sourceMappingURL=ListManager.css.map */
