body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    /*background-image: url('../Images/overwatch.png');*/
    background-color: rgb(28,31,42);
    color: rgb(240,253,255);
    overflow: hidden;
}

@font-face {
    src: url('../Fonts/bignoodletoo.ttf');
    font-family: overwatch-slant;
}

@font-face {
    src: url('../Fonts/koverwatch.ttf');
    font-family: overwatch;
}

.list-container {
    /* Total Width is 406.6666px */
    width: 366.66666px;
    padding: 20px;

    margin-left: 15px;

    position: absolute;
    
    background-color: rgb(34,46,83);
}

.list-title {
    height: 30px;
    margin: 0;
    font-size: 18pt;
    text-align: center;
}

.tile-container {
    height: 83.9px;
}

.tile {
    height: calc(100% - 10px);
    padding-top: 10px;

    cursor: pointer;
    border-bottom: 1px solid rgba(255,255,255,.2);

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    position: relative;
}

.tile-blue {
    color: rgb(87,203,222);
}

.tile-green {
    color: rgb(144,186,60);
}

.tile:hover{
    background-color: rgb(150,150,150);
}

.tile-image { 
    width: 70px;
    padding-right: 5px;
    float: left;
    clear: both;
 }

.tile-title-line { 
    font-size: 15pt;
}

.tile-line {
    font-size: 11pt;
 }

.tile-line-2 {
    font-size: 9pt;
 }

 .tile-details {
     color: white;
     position: absolute;
     top: 15px;
     right: 0;
 }