@font-face {
    src: url('../Fonts/bignoodletoo.ttf');
    font-family: overwatch-slant;
}
@font-face {
    src: url('../Fonts/koverwatch.ttf');
    font-family: overwatch;
}

@font-face {
    font-family: 'Industry';
    src: url('../Fonts/industry-medium-webfont.woff2');
    font-weight: 400;
    font-style: normal;
}

@import "variables";

body {
    font-family: 'Cabin', sans-serif;
    background-color: $backColor;
    color: $textColor;
    overflow: hidden;
    cursor: none;

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../Images/back1.jpg);
    //background:  url(../Images/back7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .9;
}

.dark {
    background-color: $backColorDark;
    color: $textColorDark;
}

.calendar {
    width: calc(100% - #{$leftPanelWidth});
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box; 
    padding: $spacing;
    padding-right: 0;
}

.streams {
    width: $leftPanelWidth;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box; 
    padding: $spacing;
}

.card {
    border: $cardBorder;
    background-color: $cardBackColor;
    padding-bottom: 6px;
}

.dark .card {
    border: $cardBorderDark;
    background-color: $cardBackColorDark;
}

.marquee {
    width: 100%;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;

    position: fixed;
    bottom: 0;
    left: 0;
    padding: 5px;
    font-size: 16px;
    border-top: $cardBorderDark;

    background-color: $cardBackColorDark;
  }
  
  .marquee > div {
    display: inline-block;
    padding-left: 100%;
    /* show the marquee just outside the paragraph */
    will-change: transform;
    animation: marquee 800s linear infinite;
  }
  
  .headline {
      margin: 0 20px 0 40px;
  }

  .marquee span:hover {
    animation-play-state: paused
  }
  
  
  @keyframes marquee {
    0% { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
  }