#timer {
    position: fixed;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;

    top: 15px; 
    left: 15px;
    width: 406.6666px;
    height: 489.5px;
    background-color: rgb(37,38,46);
}

#timer > div {
    width: 99%;
    margin: 0 auto;
    text-align: center;
}

#date {
    padding-top: 170px;
    font-size: 20pt;
    color: rgb(206,59,63);
}

#time {
    font-size: 70pt;
}