@import "variables";

$groupNameFontSize: 20pt;
$tileFontSize: 22pt;
$detailsFontSize: 10pt;

$smallTileFontSize: 12pt;

$altFontSize1: 14pt;
$altFontSize2: 9pt;
$altFontSize3: 12pt;

.online {
	color: rgb(87, 203, 222);

	.alt-line2 {
		color: #46829B;
	}
}

.inGame {
	color: rgb(144, 186, 60);

	.alt-line1 {
		color: #D6F0B7;
	}

	.alt-line2 {
		font-size: $altFontSize3 !important;
	}
}

.offline {
	color: rgb(102, 102, 102);
}

.away {
	color: #437287;
}

.twitchStreams {
	display: flex;
	flex-direction: row-reverse;
	width: 100%;
	min-width: 0;
	overflow: hidden;
	position: relative;

	.tile {
		position: absolute;
		transition: all 2s ease 0s;
		top: 0;
		left: 0;
	}
}

.group-card {
	border: $cardBorderDark;
	border-radius: 5px;
	background-color: $cardBackColorDark;
}

.tile {
	box-sizing: border-box;
	text-overflow: ellipsis;
	overflow: hidden;
	position: relative;
	padding: 0;

	div:empty {
		display: none;
	}

	>div {
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.tile-image {
		margin-right: 5px;
		float: left;
		border-radius: 5px;
		height: 100%;
		max-height: 100%;
	}

	.tile-title {
		font-size: $tileFontSize;
	}

	.tile-game {
		font-size: 14pt;
		color: rgb(200, 200, 200);
	}

	.tile-details {
		font-size: $detailsFontSize;
		color: rgb(200, 200, 200);
		max-height: 30px;
		margin: 4px 0;
	}

	.tile-viewers {
		color: #C9283E;
		background-color: rgba(0, 0, 0, 1);
		font-size: 12pt;
		position: absolute;
		top: 2px;
		right: 2px;
		border-radius: 5px;
		padding: 0 5px 0 5px;

		display: flex;
		align-items: center
	}

	.alt-line1 {
		font-size: $altFontSize1;
	}

	.alt-line2 {
		font-size: $altFontSize2;
	}
}

.tile.small {

	.tile-title,
	.tile-game {
		font-size: $smallTileFontSize;
	}

	.tile-details {
		height: 16px;
	}

	.tile-details {
		margin: 0;
	}
}

.list-group-name {
	text-align: center;
	background-color: black;
}

.live-indicator {
	background-color: #C9283E;
	border-radius: 20px;
	width: 0.45rem;
	height: 0.45rem;
	display: inline-block;
	position: relative;
	margin: 2px;
}

.tag-style {
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;

	.tile-image {
		border-radius: 50%;
	}
}