@import "variables";

$groupNameFontSize: 20pt;
$tileFontSize: 17pt;
$detailsFontSize: 9pt;
$imageHeight: 50px;

$altFontSize1: 14pt;
$altFontSize2: 9pt;
$altFontSize3: 12pt;

.list-container {
    overflow: hidden;
    font-family: industry;

    .list-group {
        margin-bottom: $spacing;
        padding: 5px;
    }

    .list-group-name {
        font-family: overwatch;
        text-align: center;
        font-size: $groupNameFontSize;
        margin-left: 10px;
    }

    .tile {
        height: calc(100% - 10px);
        padding-top: 3px;

        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        position: relative;

        div:empty {
            display: none; 
        }

        .tile-image {
            height: $imageHeight;
            margin-right: 5px;
            float: left;
        }

        .tile-title { 
            font-size: $tileFontSize;
        }
    
        .tile-details {
            font-size: $detailsFontSize;
        }

        .tile-viewers {
            color: #C9283E;
            font-size: $font-size;
            position: absolute;
            top: 0px;
            right: 5px;
        }

        .alt-line1 {
            font-size: $altFontSize1;
        }

        .alt-line2 {
            font-size: $altFontSize2;
        }
    }
}

.online {
    color: rgb(87,203,222);

    .alt-line2 {
        color: #46829B;
    }
}

.inGame {
    color: rgb(144,186,60);

    .alt-line1 {
        color: #D6F0B7;
    }

    .alt-line2 {
        font-size: $altFontSize3 !important;
    }
}

.offline {
    color: rgb(102,102,102);
}

.away {
    color: #437287;
}