@import "variables";

$groupNameFontSize: 20pt;
$tileFontSize: 17pt;
$detailsFontSize: 9pt;

$altFontSize1: 14pt;
$altFontSize2: 9pt;
$altFontSize3: 12pt;

.online {
    color: rgb(87,203,222);

    .alt-line2 {
        color: #46829B;
    }
}

.inGame {
    color: rgb(144,186,60);

    .alt-line1 {
        color: #D6F0B7;
    }

    .alt-line2 {
        font-size: $altFontSize3 !important;
    }
}

.offline {
    color: rgb(102,102,102);
}

.away {
    color: #437287;
}

.twitchStreams {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    min-width: 0;
    overflow: hidden;

    .group {
        margin-right: 10px;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}

.tile + .tile {
    border-top: none !important;
}

.tile {
    flex-grow: 1;

    box-sizing: border-box;
    text-overflow: ellipsis;
    //white-space: nowrap;
    overflow: hidden;
    position: relative;
    padding: 0;

    div:empty {
        display: none; 
    }

    > div {
        //white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .tile-image {
        height: 100%;
        margin-right: 5px;
        float: left;
    }

    .tile-title { 
        font-size: $tileFontSize;
    }

    .tile-game {
        font-size: 12pt;
        color: rgb(200, 200, 200);
    }

    .tile-details {
        font-size: $detailsFontSize;
        color: rgb(200, 200, 200);
        max-height: 30px;
    }

    .tile-viewers {
        color: #C9283E;
        background-color: rgba(0, 0, 0, .8);
        font-size: 10pt;
        position: absolute;
        top: 2px;
        left: 2px;
        border-radius: 5px;

        display: flex;
        align-items: center
    }

    .alt-line1 {
        font-size: $altFontSize1;
    }

    .alt-line2 {
        font-size: $altFontSize2;
    }
}

.tile.small {
    display: flex;
    flex-direction: column;

    .inner {
        height: calc(100% - 16px);
    }

    .tile-details {
        height: 16px;
    }
}