@import "variables";

.light .condition,
.light .forecast-day,
.clock {
    border: $cardBorder;
}

.dark .condition,
.dark .forecast-day,
.clock {
    border: $cardBorderDark;
}

.weatherPanel {
    display: flex;
    color: white;
    
    width: 100%;
    margin-bottom: 10px;

    > div {
        flex: 1 0 auto;
    }

    > div + div {
        margin-left: 10px;
    }
    
    .temp-icon { width: 70px; }

    .condition {
        background-color: #1f4371;

        display: flex;
        flex-direction: column;
        align-items: center;

        .temp {
            font-size: 55px;
        }
    }

    .forecast-day {
        display: flex;
        flex-direction: column;
        align-items: center;

        .temp {
            font-size: 40px;
            height: 67px;
            line-height: 67px;
        }

        &.f0 { background-color: #1f4371; }
        &.f1 { background-color: #2962a9; }
        &.f2 { background-color: #347bd5; }
        &.f3 { background-color: #609ae1; }
        &.f4 { background-color: #76a7e3; }
    }

    .icon-drop {
        width: 20px;
    }
}

.slash {
    margin-left: 0px;
    margin-right: 7px;
    border-right: 1px solid white;
    -webkit-transform: skewX(-30deg);
    -ms-transform: skewX(-30deg);
    transform: skewX(-30deg);

    display: inline-block;
    height: 30px;
    position: relative;
    bottom: -2px;
}

.clock {
    background-color: #031727;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;

    > div {
        .clock-date {
            text-align: center;
            color: #C9283E;
            font-size: 16pt;
        }
        
        .clock-time {
            text-align: center;
            color: white;
            font-size: 50pt;
        }
    }
}

.svg-cloud, .svg-star, .svg-wind {
    fill: #fff;
}

.svg-drop {
    fill: #6ec4e9;
}

.svg-sun {
    fill: #f9ed32
}

.svg-hail, .svg-snowflake {
    fill: #fff;
    stroke: #fff
}

.svg-moon {
    fill: #e6e6e6;
}

.svg-fog-wave {
    stroke: #fff;
    fill: #fff
}

.svg-lightning {
    fill: #f2df00
}

.svg-bg-circle {
    fill: #aaa;
    stroke: #fff
}

.svg-rt-lightning .svg-lightning {
    fill: #fff
}

svg {
    --color-moon: #e3e3e3;
    --color-star: #e3e3e3;
    --color-cloud: #d3d3d3;
    --color-na: #d3d3d3;
    --color-fog: #d3d3d3;
    --color-hail: #d3d3d3;
    --color-tornado: #d3d3d3;
    --color-wind: #d3d3d3;
    --color-storm: #d3d3d3;
    --color-lightning: #ebdb00;
    --color-sun: #ebdb00;
    --color-sun-center: #ebdb00;
    --color-sun-ray: #ebdb00;
    --color-drop: #6adef8;
    --color-snowflake: #d3d3d3;
    --color-thunderstorm-mask: #2b2b2b;
}
