#weatherPanel {
    position: fixed;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;

    top: 15px; 
    left: 15px;
    width: 406.6666px;
    height: 489.5px;
    background-color: rgb(37,38,46);
}

#weatherPanel > div {
    width: 99%;
    margin: 0 auto;
    text-align: center;
    clear: both;
}

.high {
    color: rgb(206,59,63);
}

.low {
    color: #b0e8ff;
}

#date {
    padding-top: 20px;
    font-size: 20pt;
    color: rgb(206,59,63);
}

#time {
    font-size: 70pt;
}



/********* CONDITION *********/

#conditions { 
    padding-top: 90px;
}

#conditions > .temp-icon  {
    margin-top: -25px;
    float: left;
}

#conditions > .temp {
    font-size: 70pt;
    float: left;
}

.condition-forecast {
    padding-top: 10px;
    padding-left: 10px;
    float: left;
}

#conditions .high,
#conditions .low {
    font-size: 20pt;
    padding: 5px;
}

/********* FORECAST *********/

#forecast {
    font-size: 12pt;
}

.forecast-tile {
    float: left;
    width: 132px;
    height: 60px;
}

.forecast-container {
    float: left;
    text-align: left;
}

.forecast-tile .temp-icon {
    float: left;
    width: 75px;
    margin: -10px;
    margin-top: -20px;
}