@import "variables";

.light .condition,
.light .forecast-day,
.clock {
	border: $cardBorder;
}

.dark .condition,
.dark .forecast-day,
.clock {
	border: $cardBorderDark;
	border-radius: 15px;
	//margin: $spacing;
}

.weather-column {
	display: flex;
	flex-direction: column;
	gap: $spacing;

	.weather-panel {
		width: 200px;
	}

	.forecast {
		.label {
			margin-top: 5px;
		}

		.temp-icon svg {
			width: 60px;
		}
	}

	.hourly .forecast-list-item,
	.forecast .forecast-list-item {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;

		.title {
			width: 60px;
		}

		.flex-row {
			width: 50px;
			justify-content: end;
		}
	}
}

.weather-row {
	display: flex;
	flex-direction: row;
	gap: $spacing;
	margin: $spacing;
	height: 200px;

	.forecast {
		justify-content: space-between;
		flex-grow: 1;

		.forecast-list-item {
			display: flex;
			flex-direction: column;
			width: 100%;
			align-items: center;
			justify-content: space-between;

			.title {
				width: 60px;
			}

			.flex-row {
				width: 50px;
				justify-content: end;
			}

			.temp-icon svg {
				width: 55px;
			}
		}
	}
}

.weather-panel {
	background-color: $cardBackColorDark;
	border-radius: 15px;
	padding: 10px;
	position: relative;
	border: $cardBorderDark;

	.title {
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 5px;
	}

	.data,
	.temp {
		font-size: 30px;
	}

	.current-temp {
		font-size: 55px;
		margin-top: -10px;
	}

	.ampm {
		font-size: 12px;
		padding-left: 4px;
	}

	.label {
		font-size: 14px;
	}

	svg {
		width: 25px;
	}

	.icon-container {
		position: absolute;
		top: 35px;
		right: 30px;

		svg {
			width: 50px;
		}
	}

	.data-icon {
		display: flex;
		flex-direction: row;

		>svg {
			width: 20px;
			fill: white;
		}
	}

	.label-icon {
		margin-left: -2px;
		margin-right: 5px;
		display: flex;
		flex-direction: row;
		align-items: center;

		>svg {
			height: 40px;
			width: 40px;
			fill: white;
		}
	}
}

.precip {
	color: #6ec4e9;
	margin-right: 4px;
}

.flex-row {
	display: flex;
	flex-direction: row;
	gap: 2px;
}

.flex-column {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.slash {
	margin-left: 0px;
	margin-right: 7px;
	border-right: 1px solid white;
	-webkit-transform: skewX(-30deg);
	-ms-transform: skewX(-30deg);
	transform: skewX(-30deg);

	display: inline-block;
	height: 30px;
	position: relative;
	bottom: -2px;
}

.clock {
	background-color: $cardBackColorDark;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	width: 200px;

	>div {
		.clock-date {
			text-align: center;
			//color: #C9283E;
			font-size: 12pt;
		}

		.clock-time {
			margin: -5px;
			text-align: center;
			color: white;
			font-size: 50pt;
		}
	}

	.ampm {
		font-size: 16px;
		padding-left: 4px;
	}
}

.svg-cloud,
.svg-star,
.svg-wind {
	fill: #fff;
}

.svg-drop {
	fill: #6ec4e9;
}

.svg-sun {
	fill: #f9ed32
}

.svg-hail,
.svg-snowflake {
	fill: #fff;
	stroke: #fff
}

.svg-moon {
	fill: #e6e6e6;
}

.svg-fog-wave {
	stroke: #fff;
	fill: #fff
}

.svg-lightning {
	fill: #f2df00
}

.svg-bg-circle {
	fill: #aaa;
	stroke: #fff
}

.svg-rt-lightning .svg-lightning {
	fill: #fff
}

svg {
	--color-moon: #e3e3e3;
	--color-star: #e3e3e3;
	--color-cloud: #d3d3d3;
	--color-na: #d3d3d3;
	--color-fog: #d3d3d3;
	--color-hail: #d3d3d3;
	--color-tornado: #d3d3d3;
	--color-wind: #d3d3d3;
	--color-storm: #d3d3d3;
	--color-lightning: #ebdb00;
	--color-sun: #ebdb00;
	--color-sun-center: #ebdb00;
	--color-sun-ray: #ebdb00;
	--color-drop: #6adef8;
	--color-snowflake: #d3d3d3;
	--color-thunderstorm-mask: #2b2b2b;
}