.light .condition,
.light .forecast-day,
.clock {
  border: 2px solid none;
}

.dark .condition,
.dark .forecast-day,
.clock {
  border: 2px solid none;
  border-radius: 15px;
}

.weather-column {
  display: flex;
  flex-direction: column;
}
.weather-column > div + div {
  margin-top: 6px;
}
.weather-column .weather-panel {
  width: 200px;
}
.weather-column .forecast .label {
  margin-top: 5px;
}
.weather-column .forecast .temp-icon svg,
.weather-column .forecast .temp-icon img {
  width: 60px;
}
.weather-column .hourly .forecast-list-item,
.weather-column .forecast .forecast-list-item {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.weather-column .hourly .forecast-list-item .title,
.weather-column .forecast .forecast-list-item .title {
  width: 60px;
}
.weather-column .hourly .forecast-list-item .flex-row,
.weather-column .forecast .forecast-list-item .flex-row {
  width: 50px;
  justify-content: end;
}

.divider-bottom {
  border-bottom: 1px solid white;
}

.weather-row {
  display: flex;
  flex-direction: row;
  margin: 6px;
  height: 130px;
}
.weather-row > div + div {
  margin-left: 6px;
}
.weather-row .forecast {
  justify-content: space-between;
  flex-grow: 1;
}
.weather-row .forecast .forecast-list-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.weather-row .forecast .forecast-list-item .title {
  width: 60px;
}
.weather-row .forecast .forecast-list-item .flex-row {
  width: 50px;
  justify-content: end;
}
.weather-row .forecast .forecast-list-item .temp-icon svg {
  width: 55px;
}

.weather-panel {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  padding: 10px;
  position: relative;
  border: 2px solid none;
}
.weather-panel .title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}
.weather-panel .data,
.weather-panel .temp {
  font-size: 30px;
}
.weather-panel .current-temp {
  font-size: 55px;
  margin-top: -10px;
  margin-bottom: -5px;
}
.weather-panel .ampm {
  font-size: 12px;
  padding-left: 4px;
}
.weather-panel .label {
  font-size: 14px;
}
.weather-panel svg {
  width: 25px;
}
.weather-panel .icon-container {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weather-panel .icon-container svg,
.weather-panel .icon-container img {
  width: 50px;
}
.weather-panel .data-icon {
  display: flex;
  flex-direction: row;
}
.weather-panel .data-icon > svg {
  width: 20px;
  fill: white;
}
.weather-panel .label-icon {
  margin-left: -2px;
  margin-right: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.weather-panel .label-icon > svg {
  height: 40px;
  width: 40px;
  fill: white;
}

.precip {
  color: #6ec4e9;
  margin-right: 4px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.slash {
  margin-left: 0px;
  margin-right: 7px;
  border-right: 1px solid white;
  -webkit-transform: skewX(-30deg);
  -ms-transform: skewX(-30deg);
  transform: skewX(-30deg);
  display: inline-block;
  height: 30px;
  position: relative;
  bottom: -2px;
}

.clock-date {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

.clock {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  width: 200px;
}
.clock > div .clock-time {
  margin: -5px;
  text-align: center;
  color: white;
  font-size: 60pt;
}
.clock .ampm {
  font-size: 16px;
  padding-left: 4px;
}

.svg-cloud,
.svg-star,
.svg-wind {
  fill: #fff;
}

.svg-drop {
  fill: #6ec4e9;
}

.svg-sun {
  fill: #f9ed32;
}

.svg-hail,
.svg-snowflake {
  fill: #fff;
  stroke: #fff;
}

.svg-moon {
  fill: #e6e6e6;
}

.svg-fog-wave {
  stroke: #fff;
  fill: #fff;
}

.svg-lightning {
  fill: #f2df00;
}

.svg-bg-circle {
  fill: #aaa;
  stroke: #fff;
}

.svg-rt-lightning .svg-lightning {
  fill: #fff;
}

svg {
  --color-moon: #e3e3e3;
  --color-star: #e3e3e3;
  --color-cloud: #d3d3d3;
  --color-na: #d3d3d3;
  --color-fog: #d3d3d3;
  --color-hail: #d3d3d3;
  --color-tornado: #d3d3d3;
  --color-wind: #d3d3d3;
  --color-storm: #d3d3d3;
  --color-lightning: #ebdb00;
  --color-sun: #ebdb00;
  --color-sun-center: #ebdb00;
  --color-sun-ray: #ebdb00;
  --color-drop: #6adef8;
  --color-snowflake: #d3d3d3;
  --color-thunderstorm-mask: #2b2b2b;
  --cloud: #a1b6c3;
  --wind: #a1b6c3;
  --snow: #a1b6c3;
  --moon: #a1b6c3;
  --rain: #3f95b2;
  --sun-lightning: #ffb900;
  --severe: #ba0d00;
}

/*# sourceMappingURL=Weather.css.map */
