<!DOCTYPE html>
<html>
<head>
    <title>Desktop</title>

    <!-- Insert this line above script imports  -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

    <!-- Insert this line after script imports -->
    <script>if (window.module) module = window.module;</script>

    <script src="Scripts/mainController.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="Styles/main.css" />
    <link rel="stylesheet" type="text/css" href="Styles/top-page.css" />

</head>
<body ng-app="twitchApp" ng-controller="mainController">

    <div class="shield" ng-class="{'nodisp': !streaming}">
        <img src="Images/spinner.gif"/>
    </div>

    <!-- Tabs -->
    <div class="tabs">
        <div ng-repeat="tab in tabs" ng-mousedown="selectTab(tab)" class="tab-tile" ng-class="{'selected': tab === selectedTab}" >
            <span ng-style="{'background-image': 'url(' + tab.imageURL + ')'}" class="tab-logo"></span>
            <!--<div class="tab-title">{{ tab.title }}</div>-->
        </div>
    </div>

    <!-- Stream Tiles -->
    <div class="stream-tiles">
        <div ng-click="pageUp()" class="stream-tile page-up" 
            ng-class="{'disabled': startTile === 0, 'nodisp': streams.length < (maxTiles + 1)}">
            <span class="glyphicon glyphicon-triangle-top"></span>
        </div>

        <div ng-repeat="stream in streams.slice(startTile, startTile + maxTiles)" 
            ng-mouseover="selectStream(stream)" class="stream-tile" 
            ng-class="{'selected': stream === selectedStream, 'non-english': stream.language !== 'en'}" >
            <img ng-src="{{stream.imageURL}}" class="stream-logo" draggable="false"/>
            <div class="stream-line stream-title">{{ stream.title }}</div>
            <div class="stream-line">{{ stream.game }}</div>
            <div class="stream-line">
                <div class="live-indicator"></div>
                {{ stream.viewers }}
            </div>
        </div>

        <div ng-click="pageDown()" class="stream-tile page-down" 
            ng-class="{'disabled': startTile + maxTiles >= streams.length, 'nodisp': streams.length < (maxTiles + 1)}">
            <span class="glyphicon glyphicon-triangle-bottom"></span>
        </div>
    </div>

    <!-- Stream Details -->
    <div class="stream-selected">
        <!--<img ng-src="{{ selectedStream.profileBanner }}" class="profile-banner" draggable="false"/>-->

        <div class="selected-bar">
            <img ng-src="{{selectedStream.imageURL}}" class="selected-stream-logo" draggable="false"/>
            <span class="selected-title">{{ selectedStream.title }}</span>
            <div class="selected-viewers">
                <span>
                    <div class="live-indicator"></div>
                    {{ selectedStream.viewers }}
                </span>
            </div>
        </div>

        <div class="selected-preview-container" ng-mousedown="launchStream(selectedStream)">

            <span ng-if="!previewing">
                <img ng-src="{{ selectedStream.preview }}"  class="selected-preview"/>
            </span>
            <span ng-if="previewing">
                <iframe
                    ng-src="{{getStreamSrc(selectedStream.title)}}"
                    height="720"
                    width="1280"
                    frameborder="0"
                    scrolling="no"
                    allowfullscreen="true"
                    class="selected-preview">
                </iframe>
            </span>
        </div>

        <div class="selected-bar selected-bar-bottom">
            <div class="preview-button" ng-click="previewing=!previewing"><div class="arrow-right"></div></div>
            <div class="selected-bar-inner">
                <div class="selected-details">{{ selectedStream.details }}</div>
                <div class="selected-text">{{ selectedStream.game }} ({{selectedStream.language}})</div>
            </div>
        </div>

    </div>

    <!-- Popup -->
    <div class="top-page" ng-class="{'nodisp': !showTopGames}">
        <div class="page-up top-game-pager" ng-click="topPageUp()" ng-class="{'disabled': topGamesOffset === 0}">
            <span class="glyphicon glyphicon-triangle-top"></span>
        </div>
        <div ng-repeat="game in topGames" class="top-game-tile" ng-click="topGameSelected(game)">
            <img ng-src="{{game.box}}" class="top-game-box" draggable="false"/>
            <div class="tog-game-text">{{game.name}}</div>
            <div class="tog-game-text">{{game.viewers}}</div>
        </div>
        <div class="page-down top-game-pager" ng-click="topPageDown()">
            <span class="glyphicon glyphicon-triangle-bottom"></span>
        </div>
    </div>

    <div class="last-updated">Last Updated: {{ lastUpdated | date : 'MM/dd @ h:mma'}}</div>
</body>
</html>
