body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*background-image: url('../Images/overwatch.png');*/
    
    background-color: #EFEEF1;
    color: black;
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow: hidden;

    line-height: 1.2;
    user-select: none;
}

/***************************** Tab Styles ***************************/

.tabs {
    width: 165px;
    height: 100%;
    float: left;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.tab-tile {
    padding-left: 5px;
    cursor: pointer;
    flex: 1 0 auto;
    position: relative;
}

.tab-tile:hover {
    background-color: #4B367C;
}

.tab-logo {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
}

.tab-title {
    color: white;
    text-align: center;
}

/***************************** Stream Tile Styles ***************************/

.stream-tiles {
    float: left;
    width: 600px;
    height: 100%;
    background-color: #17141f;
}

.stream-tile {
    padding-top: 3px;
    padding-left: 15px;
    height: 97px;
    border-bottom: 1px solid rgb(32,28,43);
}

.stream-tile:hover:not(.disabled) {
    background-color: #4B367C;
    cursor: pointer;
}

.stream-logo {
    width: 80px;
    padding-top: 10px;
    padding-right: 10px;
    float: left;
    clear: both;
}

.stream-line {
    color: rgb(175,175,175);
    font-size: 15pt;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 450px;
    white-space: nowrap;
}

.stream-title {
    font-size: 20pt;
    padding-top: 8px;
    color: white;
}

/***************************** Selected Stream ***************************/

.stream-selected {
    width: calc(100% - 780px);
    height: 100%;
    float: right;
    background-color: #EFEEF1;
}



.selected-bar {
    background-color: white;
    height: 80px;
    width: 100%;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    padding: 5px;
    white-space: nowrap;
}

.selected-top-bar span {
    display: inline-block;
    vertical-align: middle;
}

.selected-stream-logo {
    display: inline-block;
    vertical-align: middle;
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

.selected-title {
    font-size: 25pt;
}

.selected-viewers {
    float: right;
    color: #fc3636;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 10px;
    font-size: 16pt;
}



.selected-preview-container {
    width: 90%;
    margin: auto;
}

.selected-preview {
    width: 100%;
    cursor: pointer;
}



.selected-bar-bottom {
    padding: 0;
    margin-top: 10px;
}

.selected-bar-inner {
    padding: 12px;
}

.selected-details {
    font-size: 18pt;
}

.selected-text {
    font-size: 16pt;
}

.float-right {
    float: right;
}

.profile-banner {
    width: 100%;
    height: 200px;
}

.last-updated {
    position: fixed;
    right: 0;
    bottom: 0;
    font-size: 14pt;
}

.preview-button {
    float: right;
    background:#fc3636;
    height: 100%;
    width: 100px;
    position: relative;
}

.preview-button:hover {
    opacity: .5;
}

/***************************** Common ***************************/

.live-indicator {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: .75rem;
    background-color: #fc3636;
    display: inline-block;
}

.selected {
    background-color: #4B367C;
}

.shield {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.7);
}

.shield > img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 50px;
    margin-left: 50px;
    margin: auto;
    width: 100px;
    height: 100px;
}

.nodisp {
    display: none !important;
}

.disabled span {
    display: none !important;
}

.page-down, .page-up
{
    width: 100%;
    height: 50px;
    color: white;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.non-english div{
    color: rgb(175,175,175) !important;
}

.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -10px;
  }