body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*background-image: url('../Images/overwatch.png');*/
    
    background-color: white;
    color: black;
    padding: 0;
    margin: 0;
    height: 98vh;
    overflow: hidden;
}

/***************************** Tab Styles ***************************/

.tabs {
    width: 100%;
    height: 100px;
}


/***************************** Stream Tile Styles ***************************/

.stream-tiles {
    float: left;
    width: 30%;
    height: 100%;
    background-color: #17141f;
    overflow: scroll;
}

.stream-tile {
    margin: 10px;
    height: 100px;
}

.stream-tile:hover {
    background-color: rgb(32,28,43);
    cursor: pointer;
}

.stream-logo {
    width: 80px;
    padding-top: 10px;
    padding-right: 10px;
    float: left;
    clear: both;
}

.stream-line {
    color: rgb(137,118,105);
    font-size: 18pt;
}

.stream-title {
    padding-top: 8px;
    color: white;
}

/***************************** Selected Stream ***************************/

.stream-selected {
    width: 70%;
    float: right;
}

.selected-preview-container {
    width: 80%;
    margin: auto;
}

.selected-preview {
    width: 100%;
}

.selected-title {
    font-size: 25pt;
}

.selected-details {
    font-size: 20pt;
}

.selected-viewers {
    color: red;
}

.selected-text {
    font-size: 16pt;
}

.float-right {
    float: right;
}