body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*background-image: url('../Images/overwatch.png');*/
    
    background-color: white;
    color: black;
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow: hidden;

    line-height: 1.2;
    user-select: none;
}

/***************************** Tab Styles ***************************/

.tabs {
    width: 180px;
    height: 100%;
    float: left;
    background-color: black;
}

.tab-tile {
    padding-left: 25px;
    height: 215px;
    cursor: pointer;
}

.tab-tile:hover {
    background-color: #4B367C;
}

.tab-logo {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
}

.tab-title {
    color: white;
    text-align: center;
}

/***************************** Stream Tile Styles ***************************/

.stream-tiles {
    float: left;
    width: 600px;
    height: 100%;
    background-color: #17141f;
}

.stream-tile {
    padding-top: 5px;
    padding-left: 30px;
    height: 120px;
    border-bottom: 1px solid rgb(32,28,43);
}

.stream-tile:hover:not(.disabled) {
    background-color: #4B367C;
    cursor: pointer;
}

.stream-logo {
    width: 100px;
    padding-top: 10px;
    padding-right: 10px;
    float: left;
    clear: both;
}

.stream-line {
    color: rgb(175,175,175);
    font-size: 18pt;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 450px;
    white-space: nowrap;
}

.stream-title {
    font-size: 20pt;
    padding-top: 8px;
    color: white;
}

.stream-page-down, .stream-page-up
{
    width: 100%;
    height: 50px;
    color: white;
    font-size: 20px;
    text-align: center;
}

.disabled > span {
    display: none;
}

/***************************** Selected Stream ***************************/

.stream-selected {
    width: calc(100% - 800px);
    float: right;
}

.selected-preview-container {
    width: 90%;
    margin: auto;
}

.selected-preview {
    width: 100%;
    cursor: pointer;
}

.selected-title {
    font-size: 25pt;
}

.selected-details {
    font-size: 20pt;
}

.selected-viewers {
    color: red;
}

.selected-text {
    font-size: 16pt;
}

.float-right {
    float: right;
}

/***************************** Common ***************************/

.live-indicator {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: .75rem;
    background-color: #fc3636;
    display: inline-block;
}

.selected {
    background-color: #4B367C;
}